.application-fill           { fill: fb-pink; }

#clock {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#button-1 {
  x: 45;
  y: 10%;
}

#button-2 {
  x: 135;
  y: 10%;
}

#button-3 {
  x: 225;
  y: 10%;
}

#button-text {
  fill: white;
  x: 50%;
  text-anchor: middle;
}
